{% extends 'base.html.twig' %}

{% block title %}Modifier ArbitreMatch{% endblock %}

{% block body %}
    <h1>Modifier Arbitre_Match</h1>


{% for message in app.flashes('info') %}
<div class="alert alert-warning">
    {{message}}
</div>
    {% endfor %}

    {{ include('arbitre_match/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('display_arb') }}">Retourner à la liste</a>

{% endblock %}
