{% extends 'base.html.twig' %}


{% block body %}
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">weekend</i>
        </div>
        <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">nombre de club</p>

        </div>
    </div>
{% endblock %}