{% extends 'base1.html.twig' %}


{% block body %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{ asset('assetClient/images/backg.jpg') }});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Products By Category &amp; Section</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Category <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">

        <div class="container">
            <div class="row">
                <section>

                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="sidebar-search" >
                                <div class="input-group custom-search-form">
                                    <input    type="text" id="search" class="form-control widget_input" placeholder="Chercher..." style="width: 1180px;background: white">
                                </div>
                                <br>
                                <!-- /input-group -->
                                <ul class="nav" id="side-menu">
                                    <li>
                                        <a href="#"> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level" id="entitiesNav">
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row d-flex" id="containerr">
                <div id="search"></div>


                    <div class="col-md-4 d-flex ftco-animate" id="c">
                        <a href="#" class="block-20" style="background-image: url({{ asset('uploads/produit_image/'~p.image) }});">
                        </a>
                        <div class="text mt-3 float-right d-block">

                            <img src="{{ asset('uploads/stock_image/'~image) }}" style="width: 100%;height: 100%;"/>
                            <label>Nom:
                                <span class="heading"><a href="#">{{ nom }}</a></span>
                            </label>

                        </div>
                    </div>



            </div>
 </div>
    </section>



{% endblock %}